/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);
  --exito: #3ab65c;
	--error: #bf333b;
	--info: #1898c0;
	--warning: #bc8c12;
	--exito-hover: #2d8a46;
	--error-hover: #962a31;
	--info-hover: #147fa0;
	--warning-hover: #9b7512;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  position: relative;
  height: 100vh;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.search,
.login,.rlogin {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search__close,
.login__close,.rlogin__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search, 
.nav__login, 
.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== SEARCH ===============*/

.search__form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search__icon {
font-size: 1.25rem;
color: var(--title-color);
}

.search__close {
display: block; /* Asegura que el icono de cierre se muestre debajo de la lista */
margin-top: 10px; /* Ajusta el espacio entre la lista y el icono de cierre */
font-size: 1.25rem;
color: var(--title-color);
cursor: pointer;
}

.search__input {
width: 100%;
padding-block: 1rem;
background-color: var(--container-color);
color: var(--text-color);
}

.search__input::placeholder {
color: var(--text-color);
}

/* Show search */
.show-search {
opacity: 1;
pointer-events: initial;
}

.show-search .search__form {
transform: translateY(0);
}

.search__results {
  position: absolute;
  top: calc(100% + 10px); /* Margen superior para despegar de la barra de búsqueda */
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  padding: 0;

}

.search__result {
  color: white;
  border: 1px solid white; /* Borde blanco para cada elemento */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Espacio entre cada elemento */
  background-color: rgba(0, 0, 0, 0.249); /* Fondo transparente */
}
.search__result a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit; /* Para heredar el color del texto */
}

.search__result:last-child {
  margin-bottom: 0; /* Elimina el espacio inferior del último elemento */
}

.search__result:hover {
  background-color: rgba(202, 200, 200, 0);
}

.search__result a {
  text-decoration: none;
  color: white;
}




/*=============== LOGIN ===============*/
.login__form, 
.login__group {
  display: grid;
}

.login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: .5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form {
  transform: translateY(0);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close, 
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 80px auto;
}

.hero .titulo {
	font-weight: 800;
	font-size: 70px;
	margin-bottom: 40px;
}

.hero .contenedor-botones {
	display: flex;
	gap: 20px;
}

.btn {
	padding: 10px 20px;
	font-size: 20px;
	background: #000;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
	transition: 0.3s ease all;
}

.btn.exito {
	background: var(--exito);
}
.btn.error {
	background: var(--error);
}
.btn.info {
	background: var(--info);
}
.btn.warning {
	background: var(--warning);
}

/* Hover */
.btn.exito:hover {
	background: var(--exito-hover);
}
.btn.error:hover {
	background: var(--error-hover);
}
.btn.info:hover {
	background: var(--info-hover);
}
.btn.warning:hover {
	background: var(--warning-hover);
}

/* Toast */
.contenedor-toast {
	position: absolute;
	right: 40px;
	bottom: 40px;
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column-reverse;
	gap: 20px;
}

.toast {
	background: #ccc;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	overflow: hidden;
	animation-name: apertura;
	animation-duration: 200ms;
	animation-timing-function: ease-out;
	position: relative;
}

.toast.exito {
	background: var(--exito);
}
.toast.error {
	background: var(--error);
}
.toast.info {
	background: var(--info);
}
.toast.warning {
	background: var(--warning);
}

.toast .contenido {
	display: grid;
	grid-template-columns: 30px auto;
	align-items: center;
	gap: 15px;
	padding: 15px;
  color: white;
}

.toast .icono {
	color: rgba(0, 0, 0, 0.4);
}

.toast .titulo {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
  color: white;
}

.toast .btn-cerrar {
	background: rgba(0, 0, 0, 0.1);
	border: none;
	cursor: pointer;
	padding: 0px 5px;
	transition: 0.3s ease all;
}

.toast .btn-cerrar:hover {
	background: rgba(0, 0, 0, 0.3);
}

.toast .btn-cerrar .icono {
	width: 20px;
	height: 20px;
	color: #fff;
}

@keyframes apertura {
	from {
		transform: translateY(100px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.toast.cerrando {
	animation-name: cierre;
	animation-duration: 200ms;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes cierre {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(100% + 40px));
	}
}

.toast.autoCierre::after {
	content: '';
	width: 100%;
	height: 4px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	animation-name: autoCierre;
	animation-duration: 5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes autoCierre {
	from {
		width: 100%;
	}
	to {
		width: 0%;
	}
}


.img {
  width: 80%; /* Ancho del contenedor, ajusta según necesites */
  max-width: 600px; /* Ancho máximo del contenedor */
  height: auto; /* Altura automática */
  overflow: hidden; /* Oculta cualquier contenido que se salga del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Estilos para la imagen */
.imagen {
  width: 100%; /* Ajusta la imagen al ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

footer{
  margin-top: 600px;
  background-color: #111;
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
}








.pcontainer {
  text-align: center;
  margin-top: 50px;
}

#peceraImageContainer {
  width: 600px; /* Limita el ancho del contenedor */
  height: 400px; /* Altura ajustada automáticamente */
  margin-left: 40px; /* Espacio a la derecha del contenedor */
  object-fit: cover;

}

#peceraImage {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;

}

#selectSize {
  margin-top: 30px; /* Espacio entre la imagen y el selector */
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  justify-self: center;
  text-decoration: none;
  padding: 13px ;
  border-radius: 15px;
}

#selectFishBtn {
  position: relative;
  float: left;
  margin-left: 60px;
  display: inline-block;
  background-color: #2091F9;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px;
}

/* Agrega estilos para el modal */
.imodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0.249);
  
}
.imodal.active {
  display:block;
  opacity: 5;
  background-color: rgba(0, 0, 0,0.8); /* Fondo opaco y oscuro */
}

.imodal-content {
  background-color: transparent;
  margin: 20% auto;
  padding: 20px;
  width: 60%;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 500px;
  height: 500px;
  margin-top: 50px;
  
}

.iclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.iclose:hover,
.iclose:focus {
  text-decoration: none;
  cursor: pointer;
}

/*=============== SEARCH ===============*/
/* Estilos para el formulario de búsqueda */
/* Estilos para el formulario de búsqueda */
.isearch__form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.isearch__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.isearch__close {
font-size: 28px;
font-weight: bold;
color: #aaa;
float: right;
cursor: pointer;
margin-bottom: 20px;
}

.isearch__close:hover,
.isearch__close:focus {
color: black;
}

.isearch__input {
height: auto;
  width: 100%;
  padding-block: 1rem;
  color: var(--text-color);
}

.isearch__input::placeholder {
  object-fit: cover;
}



/* Lista de resultados de búsqueda */
.isearch__results {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  padding: 0;
  display: none;
}

.isearch__results li {
  list-style: none; /* Eliminar los puntos de la lista */
  color: white;
  text-decoration: none;
}

.isearch__result {
  color: white !important;
  border: 1px solid white !important;
  border-radius: 5px !important;
  padding: 10px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  margin-bottom: 10px !important;
  background-color: rgba(0, 0, 0, 0.249) !important;
}

.isearch__result-container a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}

.isearch__result:last-child {
  margin-bottom: 0;
}

.isearch__result:hover {
  background-color: rgba(202, 200, 200, 0);
}



#isearch-results-modal {
  display: none;
}

.custom-search__results {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  padding: 0;
  display: none;
}

.custom-search__result {
  color: white !important;
  border: 1px solid white !important;
  border-radius: 5px !important;
  padding: 10px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  margin-bottom: 10px !important;
  background-color: rgba(0, 0, 0, 0.249) !important;
}

.isearch__result-container {
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.2); /* Fondo transparente */
  padding: 10px;
}

#selectedSpeciesMessage {
position: absolute;
max-width: 400px;

font-size: 1.2rem;
color: black;
padding: 10px;
float: left;
margin-top: 30px;
margin-left: 165px;
margin-bottom: 30px;
display: flex; /* Utiliza un contenedor flexible */
flex-direction: column; /* Organiza los elementos en una columna */
}

.selected-species p {
margin-bottom: 20px; /* Espacio entre cada especie */
display: block;

}




.quantity-selector {
display: block;
align-items: center;
top: 0;
margin-left: 100px;
}

.quantity-btn {
padding: 5px 10px;
margin: 0 5px;
background-color: #ccc;
border: none;
border-radius: 5px;
cursor: pointer;
}

.quantity-display {
margin: 0 10px;
}
